$text-color-primary: #fff;
$grid-gap: 4rem;

@import 'queries';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import './../../node_modules/@geoapify/geocoder-autocomplete/styles/minimal.css';
@import './../../node_modules/@geoapify/geocoder-autocomplete/styles/round-borders.css';

@include respond(phone) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #b4e6fd;
}

::-webkit-scrollbar-thumb {
  background: #0a7183;

  &:hover {
    background: lighten(#0a7183, 7%);
  }
}

::placeholder {
  color: $text-color-primary;
  transition: opacity 0.2s;
  font-size: 1.8vw;

  @include respond(tab-port) {
    font-size: 1.5rem;
  }

  @include respond(phone) {
    font-size: 1.3rem;
  }
}

::selection {
  background-color: rgba(70, 90, 95, 0.7);
}

@include respond(tab-port) {
  .hide-recently-searched {
    display: none;
  }
}

.hidden {
  opacity: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-primary;
  background: linear-gradient(
    116.82deg,
    rgba(135, 193, 201, 0.67) 0%,
    rgba(184, 232, 232, 0.5) 100%
  );
}

html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.hide-and-display {
  display: none !important;
  opacity: 0;
}

.bg-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    100% 212.57% at 0% 1.02%,
    rgba(255, 255, 255, 0.42) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  backdrop-filter: blur(12px);
}

header {
  padding-top: 25rem;

  @include respond(phone) {
    padding-top: 20rem;
  }
}

.autocomplete-container {
  position: relative;
  width: 66vw;
  margin: 0 auto;
  display: flex;
  font-family: 'Orbitron', sans-serif;

  @include respond(tab-port) {
    width: 85vw;
  }

  input {
    width: inherit;
    color: inherit;
    font-size: 1.8vw;
    padding: 0 6rem;
    height: 5vw;
    min-height: 4rem;
    margin: 0 auto;
    outline: none;
    border: none;
    background: #a0d0d7;
    border-radius: 8px;

    @include respond(tab-port) {
      font-size: 1.7rem;
    }

    @include respond(phone) {
      padding: 0 2.5rem;
    }
  }
  .flat-border {
    border-radius: 8px 8px 0 0;
  }

  &__btn {
    display: flex;
    height: inherit;
    background-color: #a0d0d7;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    outline: none;
    border: none;
    font-size: 2.2vw;
    transition: transform 0.3s;
    border-radius: 8px;
  }
  &__icon {
    width: 2.9vw;
    height: 2.9vw;
    min-width: 3rem;
    min-height: 3rem;
    margin-right: 4rem;
    background-image: url('../images/search-icon.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.2s;

    @include respond(tab-port) {
      margin-right: 1.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.geoapify-autocomplete {
  &-items {
    font-size: 1.5rem;
    background-color: rgba(135, 193, 201, 0.5);
    transform: translateY(41px);
    border-radius: 0 0 8px 8px;
    border-top: none;
    box-shadow: none;
  }
  &-item {
    color: rgba(0, 0, 0, 0.6);
  }
}

.your-location {
  width: 66vw;
  max-height: 44px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgba(135, 193, 201, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;

  @include respond(tab-port) {
    width: 85vw;
  }

  &:hover {
    background-color: #96bec3;
    cursor: pointer;
  }

  svg {
    margin-right: 1rem;
  }
}

.geoapify-close-button {
  top: 73%;
  z-index: 100;
  color: $text-color-primary;

  @include respond(tab-port) {
    top: 85%;
  }
}

.recently-searched {
  position: absolute;
  top: 1%;
  left: 1.5%;
  font-size: 2.5rem;
  z-index: 10000;

  &__heading {
    display: grid;
    align-items: center;
  }

  &__list {
    display: none;
    list-style: none;
    font-size: 2.1rem;
    transition: all 0.6s;
    transform: translateY(0);

    &--moved {
      transform: translateY(-25%);
    }

    & li {
      transition: all 0.5s;
      padding-left: 0.5rem;
      cursor: pointer;
      overflow: wrap;
    }

    & li a:link,
    & li a:visited {
      text-decoration: none;
      color: inherit;
    }

    & li:hover {
      background-color: rgba(135, 193, 201, 0.5);
      transform: scale(1.02);
    }
  }

  @include respond(tab-land) {
    font-size: 2.3rem;
    top: 1.5%;
    left: 1.5%;
  }

  &__button {
    transform: translateY(50%);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: -15%;
  }
}

/////////////////////////////////////////////////////////////////////
// FORECAST

.forecast {
  display: none;

  &__desktop {
    @include respond(phone) {
      display: none;
    }
  }

  .location {
    font-size: 4rem;
    padding-top: 3rem;
    text-align: center;

    @include respond(tab-land) {
      padding-top: 4rem;
      font-size: 3.5em;
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__change-location {
    width: 5rem;
    height: 5rem;
    background-image: url('../images/search-icon-forecast.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;

    @include respond(phone) {
      top: 0.7%;
      right: 0.8%;
      width: 4rem;
      height: 4rem;
    }
  }
}

.today-forecast {
  background: rgba(163, 204, 214, 0.35);
  border-radius: 4rem;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 1.7vw;

  @include respond(tab-port) {
    max-width: 100%;
    border-radius: 0;
    font-size: 1.8rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }

  &__date {
    font-size: 2.5vw;
    letter-spacing: 0.15rem;
    text-align: center;
    padding-top: 2rem;

    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  &__clock {
    text-align: center;
    font-size: 2.5vw;
    padding: 0.5rem 0;
    background: rgba(135, 193, 201, 0.67);
    margin: 2rem 0;

    @include respond(tab-port) {
      font-size: 3rem;
      letter-spacing: 0.15rem;
    }

    @include respond(small-phone) {
      font-size: 2.4rem;
    }
  }
}

.weather-highlighted-group {
  padding: 2rem 0;

  @include respond(tab-land) {
    transform: translateX(3.5%);
  }

  @include respond(tab-port) {
    padding: 3rem 0;
  }

  @include respond(phone) {
    display: grid;
    grid-template-columns: 7fr 0.5fr 7fr;
    width: 96vw;
  }
}

.weather-highlighted {
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    margin-left: 3rem;
  }

  @include respond(phone) {
    display: block;
    grid-column: 2 / 3;
  }

  div {
    display: flex;
    align-items: center;

    // Mobile

    @include respond(phone) {
      margin-bottom: 2rem;

      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2.3rem;
      }
    }
  }

  span {
    margin-left: 1.5rem;
    margin-right: 3rem;
    width: 7.55vw;
    text-align: left;

    @include respond(tab-port) {
      display: block;
      width: 8rem;
    }

    @include respond(phone) {
      margin-left: 1.2rem;
      margin-right: 2rem;
      width: 9rem;
    }
  }

  &__weather-icon {
    width: 5vw;
    height: 5vw;
    margin-right: -0.5vw;

    @include respond(tab-port) {
      width: 5rem;
      height: 5rem;
    }

    @include respond(phone) {
      width: 6rem;
      height: 6rem;
      margin-left: -1.1rem;
    }
  }

  &__weather-icon-drop {
    width: 3.4vw;
    height: 3.4vw;

    @include respond(tab-port) {
      width: 3.5rem;
      height: 3.5rem;
    }

    @include respond(phone) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__weather-icon-wind {
    width: 3.7vw;
    height: 3.7vw;

    @include respond(tab-port) {
      width: 4rem;
      height: 4rem;
    }

    @include respond(phone) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__weather-icon-humidity {
    width: 3.8vw;
    height: 3.4vw;

    @include respond(tab-port) {
      width: 3.7rem;
      height: 3.5rem;
    }

    @include respond(phone) {
      width: 3.2rem;
      height: 3rem;
    }
  }
}

.wrapper {
  width: 85vw;
  margin: 0 auto;
}

.grid-container {
  margin: 0 10rem;
  margin-top: 6rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(26.2rem, 29.6rem));
  grid-template-rows: repeat(2, minmax(18rem, 20rem));
  grid-auto-flow: row;
  grid-gap: $grid-gap;
  justify-content: center;
  transition: opacity 0.8s;

  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(26rem, 29.4rem));
    grid-template-rows: repeat(3, minmax(18rem, 20rem));
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(24.2rem, 29.4rem));
    grid-template-rows: repeat(4, minmax(18rem, 20rem));
  }

  &__day {
    background-color: #a5e2e2;
    border-radius: 3.2rem;
    display: flex;
    justify-content: center;
    position: relative;

    &:nth-of-type(1) {
      border: 5px solid $text-color-primary;
    }

    &:nth-of-type(8),
    &:nth-of-type(7) {
      @include respond(tab-land) {
        transform: translateX(calc(50% + #{$grid-gap} / 2));
      }

      @include respond(tab-port) {
        transform: translateX(0);
      }
    }

    &__weather {
      width: 94%;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__date {
        font-size: 2rem;
        margin-top: 0.8rem;
      }

      &__data {
        font-size: 1.8rem;
      }

      &__icon {
        width: 8rem;
        height: 8rem;

        @include respond(tab-port) {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(93, 134, 141, 0.8);
  border-radius: 3.2rem;
  display: flex;
  justify-content: center;
  transition: opacity 0.4s;

  &--highlighted {
    border: 5px solid transparent;
    border-radius: 2.7rem;
  }

  &__data {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__humidity,
    &__wind {
      img {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
      }
    }
    &__drop img {
      width: 3rem;
      height: 3rem;
      margin-right: 0.7rem;
    }
  }
}

////////////////////////////////////////////
// FORECAST PHONE

.forecast__mobile {
  display: none;
  margin-top: 8rem;
  transition: opacity 0.8s;

  @include respond(phone) {
    & {
      width: 100vw;
      display: block;

      &__day {
        padding: 0.5rem 2rem;
        background-color: #a5e2e2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        position: relative;
        width: 100%;
        margin-bottom: 6rem;

        &:last-of-type {
          margin-bottom: 10rem;
        }

        @include respond(small-phone) {
          font-size: 1.2rem;

          padding: 1rem 1rem;
        }

        &:first-child {
          border-top: 3px solid $text-color-primary;
          border-bottom: 3px solid $text-color-primary;
        }

        &__data {
          font-size: 1.2rem;
          position: absolute;
          bottom: 0;
          left: 0;
          width: inherit;
          height: 4rem;
          transform: translateY(100%);
          background: rgba(140, 202, 202, 0.5);
          display: grid;

          &--highlighted {
            transform: translateY(calc(100% + 3px));
          }

          ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: translateX(-0.5rem);

            li:not(:last-of-type) {
              margin-right: 1.5rem;
            }
            li:nth-of-type(3) {
              transform: translateX(-1.5rem);
            }

            li:not(:first-of-type) {
              margin-right: 3rem;
            }
          }
        }
      }
    }

    &__date {
      font-size: 1.8rem;

      @include respond(small-phone) {
        font-size: 1.4rem;
      }
    }

    &__weather-pred {
      display: flex;
      align-items: center;
      width: 2rem;
      height: 2rem;

      &-icon {
        width: inherit;
        height: inherit;
        margin-right: 2vw;
      }
    }

    &__separator {
      width: 3px;
      height: 25px;
      border-radius: 5px;
      transform: rotateZ(20deg);
      background: $text-color-primary;

      @include respond(small-phone) {
        width: 2px;
        height: 20px;
      }
    }

    &__period {
      display: flex;
      align-items: center;
      span:nth-of-type(2) {
        margin: 0 1rem;
      }
    }

    &__weather {
      width: 4rem;
      height: 4rem;
      &-icon {
        width: inherit;
        height: inherit;
      }
      @include respond(small-phone) {
        display: none;
      }
      &--small {
        display: none;
        @include respond(small-phone) {
          display: block;
        }
      }
    }

    &__degree-container {
      display: flex;
      width: 10rem;
      justify-content: space-between;

      @include respond(small-phone) {
        width: 7rem;
        margin-right: 1rem;
      }
    }
  }
}

.hourly-weather {
  max-width: 95vw;
  margin: 7rem auto;

  &__list {
    display: grid;
    grid-gap: 0.7rem;
    justify-content: center;
    list-style: none;
    grid-template-columns: repeat(8, min-content);

    @include respond(tab-port) {
      grid-gap: 0;
    }

    @include respond(phone) {
      grid-template-columns: repeat(16, min-content);
      justify-content: left;
      overflow-x: scroll;
      width: 90vw;
      box-shadow: 12px 0 8px -4px rgba(162, 184, 190, 0.5),
        -12px 0 8px -4px rgba(162, 184, 190, 0.5);
    }

    &__item {
      width: 13rem;
      height: 16rem;
      padding: 8rem 0;
      background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.35),
        rgba(221, 221, 221, 0.3)
      );
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      @include respond(tab-land) {
        width: 10rem;
        height: 12rem;
        padding: 7rem 0;
      }

      @include respond(tab-port) {
        width: 7.3rem;
        height: 8rem;
      }

      @include respond(phone) {
        width: 8rem;
        height: 9rem;
        padding: 6.3rem 0;
      }

      &__time {
        font-size: 2.3rem;

        @include respond(tab-land) {
          font-size: 2rem;
        }

        @include respond(tab-port) {
          font-size: 1.7rem;
        }
      }

      &__degree {
        font-size: 1.8rem;

        @include respond(tab-land) {
          font-size: 1.5rem;
        }

        @include respond(tab-port) {
          font-size: 1.3rem;
        }
      }

      &__drop {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 0.5rem;

        @include respond(tab-land) {
          font-size: 1.2rem;
        }

        @include respond(tab-port) {
          font-size: 1.1rem;
        }

        &-icon {
          margin-right: 1rem;
          width: 2.5rem;
          height: 2.5rem;

          @include respond(tab-land) {
            width: 2rem;
            height: 2rem;
          }

          @include respond(tab-port) {
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }

      &__weather-icon {
        width: 5em;
        height: 5rem;

        @include respond(tab-land) {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: #a0d0d7;
    animation: rotate 2s infinite linear;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  position: absolute;
  bottom: 0.5%;
  right: 1%;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);

  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.error {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #db1c1c;
  width: 100vw;
  height: 100vh;
}

.hover-me {
  background-image: url('../images/hover-me.png');
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10%;
  top: 40%;
  animation: moveHand linear 1.5s infinite;
}

@keyframes moveHand {
  from {
    transform: rotate(0deg) translateX(6px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(6px) rotate(-360deg);
  }
}
